body { 
  background: rgba(0, 0, 0, 0.5) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=");
  overflow: hidden;
} 

.fullscreen-bg { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0.7;
} 

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../image/video_image.jpg') center center / cover no-repeat;

  }

  .fullscreen-bg__video {
    display: none;
  }
}

#minion1, #minion2, #minion3 {
  margin-top: 22%;
  margin-bottom: 0;
  z-index: 1;
  padding-bottom: 0;
}

#minion1 {
  padding-left: 5%;
}

#minion2, #minion3 {
  padding-left: 8%;
}

#adv_id {
  position: absolute;
  left: -800px;
  top: 3%;
  -moz-animation:adv_label 12s 3;
  -webkit-animation: adv_label 12s 3;
  -o-animation:adv_label 12s 3;
  -ms-animation:adv_label 12s 3;
  -khtml-animation:adv_label 12s 3;
  animation:adv_label 12s 3;
  animation-delay: 1s;
  z-index: 1;
}

@-moz-keyframes adv_label{
  0%{
    top: 3%;
    left: -50%;
  }35%{
    top: 3%;
    left: 25%;
  }65%{
    top: 3%;
    left: 25%;
  }100%{
    top: 3%;
    left: 110%;
  }
}

@-webkit-keyframes adv_label{
  0%{
    top: 3%;
    left: -50%;
  }35%{
    top: 3%;
    left: 25%;
  }65%{
    top: 3%;
    left: 25%;
  }100%{
    top: 3%;
    left: 110%;
  }
}

@-o-keyframes adv_label{
  0%{
    top: 3%;
    left: -50%;
  }35%{
    top: 3%;
    left: 25%;
  }65%{
    top: 3%;
    left: 25%;
  }100%{
    top: 3%;
    left: 110%;
  }
}

@-ms-keyframes adv_label{
  0%{
    top: 3%;
    left: -50%;
  }35%{
    top: 3%;
    left: 25%;
  }65%{
    top: 3%;
    left: 25%;
  }100%{
    top: 3%;
    left: 110%;
  }
}

@-khtml-keyframes adv_label{
  0%{
    top: 3%;
    left: -50%;
  }35%{
    top: 3%;
    left: 25%;
  }65%{
    top: 3%;
    left: 25%;
  }100%{
    top: 3%;
    left: 110%;
  }
}

@keyframes adv_label{
  0%{
    top: 3%;
    left: -50%;
  }35%{
    top: 3%;
    left: 25%;
  }65%{
    top: 3%;
    left: 25%;
  }100%{
    top: 3%;
    left: 110%;
  }
}

#flying_minion_id {
  position: absolute;
  left: -800px;
  top: 3%;
  -moz-animation:adv_labelz 12s 3;
  -webkit-animation: adv_labelz 12s 3;
  -o-animation:adv_labelz 12s 3;
  -ms-animation:adv_labelz 12s 3;
  -khtml-animation:adv_labelz 12s 3;
  animation:adv_labelz 12s 3;
  animation-delay: 1s;
  z-index: 2;
}

@-moz-keyframes adv_labelz{
  0%{
    top: 4%;
    left:-59%;
  }35%{
    top: 4%;
    left: 16%;
  }65%{
    top: 4%;
    left: 16%;
  }100%{
    top: 4%;
    left:100%;
  }
}

@-webkit-keyframes adv_labelz{
  0%{
    top: 4%;
    left:-59%;
  }35%{
    top: 4%;
    left: 16%;
  }65%{
    top: 4%;
    left: 16%;
  }100%{
    top: 4%;
    left:100%;
  }
}

@-o-keyframes adv_labelz{
  0%{
    top: 4%;
    left:-59%;
  }35%{
    top: 4%;
    left: 16%;
  }65%{
    top: 4%;
    left: 16%;
  }100%{
    top: 4%;
    left:100%;
  }
}

@-ms-keyframes adv_labelz{
  0%{
    top: 4%;
    left:-59%;
  }35%{
    top: 4%;
    left: 16%;
  }65%{
    top: 4%;
    left: 16%;
  }100%{
    top: 4%;
    left:100%;
  }
}

@-khtml-keyframes adv_labelz{
  0%{
    top: 4%;
    left:-59%;
  }35%{
    top: 4%;
    left: 16%;
  }65%{
    top: 4%;
    left: 16%;
  }100%{
    top: 4%;
    left:100%;
  }
}

@keyframes adv_labelz{
  0%{
    top: 4%;
    left:-59%;
  }35%{
    top: 4%;
    left: 16%;
  }65%{
    top: 4%;
    left: 16%;
  }100%{
    top: 4%;
    left:100%;
  }
}
