body {
	margin: 0;
}

button {
	padding: 2% 3%;
	margin: 1% auto;
	font-weight: bold;
	display: block;
}

table {
	margin: 3% auto;
}

table td, th {
	text-align: center;
	padding: 1%;
}

th {
	background-color: #bdbebf;
	vertical-align: middle;
}

#container {
	margin: 0 3%;
}
		